<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>About Us: The ScheduleYoga.com Story</title>
	<meta name="description" content="Who we are and how we decided to start ScheduleYoga.com"/>
	
	<link href="/css/main.css" rel="stylesheet" type="text/css"/>
	 
	<style type="text/css">
	</style>
	#parse("templates/beacons_header.html")
	
</head>
<body>
	<div class="wrapper">
		#parse("templates/header.html")
		<h1>About Us</h1>

		<div class="mainPanel">
			<div id="left_panel">
				#parse("templates/left-panel.html")
			</div>
			
			<div id="right_panel">	
				<h2>The ScheduleYoga.com Story</h2>
				<img src="/images/kristyn-zalota.png" style="float: left; margin: 4px" />
				<p>
				I'm Kristyn - a Yoga Alliance Registered Yoga Teacher (RYT-200), specializing in therapeutic and prenatal yoga.  
				I currently teach at <a href="http://www.thefitnesshaven.com/" title="The Fitness Haven Yoga Studio" target="_blank">The Fitness Haven</a> in New Haven, CT and 
				 <a href="http://www.ecoyoga.info/" title="Eco Yoga Yoga Studio" target="_blank">Eco Yoga</a> in Durham, CT.  
				 My love of travel and desire to share yoga with those in need has led me to teach in Thailand, Cambodia, Uganda and, soon, Nicaragua.
				</p>
  				
  				<p> 
					So I travel and move a lot.  
					My schedule is always in flux.  
					I have two kids whose schedules throw additional fun into the mix.  
					Yoga, however, is always a constant.  
					It benefits me everyday: body and mind.  
					Even as a teacher - especially as a teacher - I need to keep taking classes and learning.  
					Sometimes, it's just hard to find a class to fit my schedule.
				</p>  
  
  				<p>
  				One weekend, I was headed to NYC to visit friends and wanted to check out one of the city's legion yoga studios. 
  				I said to my husband, &quot;Wouldn't it be nice if there was a website that compiled all the yoga schedules for Manhattan?&quot;
  				</p>
  				
  				<img src="/images/max-zalota.png" style="float: right; margin: 4px" />
  				<p>
  				My husband Max, a software architect, replied &quot;Yes. Let's do it.&quot;  And that was that.  
  				He stared working late nights and weekends on <a href="http://www.scheduleyoga.com/" title="Yoga Schedule for Studios, Classes and Teachers in Your Area">www.ScheduleYoga.com</a>, 
  				driven by my need, and the need of others, to find the perfect class at a time that works.  
  				</p>

				<p>
				Currently, <a href="http://www.scheduleyoga.com/" title="Yoga Schedule for Studios, Classes and Teachers in Your Area">www.ScheduleYoga.com</a> covers Manhattan but stay tuned for your city.  
				This is not a site where studios sign up - Max has built a system that trolls for schedules and puts them in one place.  
				This site will soon cover Seattle, San Francisco and Boston before going nationwide.
				</p>
				
			</div>
			<div style="clear: both"></div>
		</div>
	</div>
	<div style="clear: both"> </div>
	<div>	
		#parse("templates/footer.html")
	</div>
</body>
</html>