		<div>	
			<div style="float: left;">
				<a href="/" title="Schedule Yoga Logo">  <img src="/images/schedule-yoga-logo.gif" title="Schedule Yoga Logo" /> </a>
			</div>	
			<div id="nav" style="float: right;">
				<a href="/studios/new-york/" title="Schedule of Yoga Studios in New York">Studios</a>
				<img class="navsplit" width="2" height="20" alt="Schedule Yoga navigation image" src="/images/nav-divider.gif">
				<a href="/teachers/new-york/"  title="Schedule of Yoga Teachers in New York">Teachers</a>
				<img class="navsplit" width="2" height="20" alt="Schedule Yoga navigation image" src="/images/nav-divider.gif">
				<a href="/yoga/">About Yoga</a>
				<img class="navsplit" width="2" height="20" alt="Schedule Yoga navigation image" src="/images/nav-divider.gif">
				<a href="/yoga-props/">Yoga Props</a>
				<img class="navsplit" width="2" height="20" alt="Schedule Yoga navigation image" src="/images/nav-divider.gif">
				<a href="/yoga-styles/">Yoga Styles</a>
				
				<div style="float:right"><strong>BETA</strong></div>
			</div>
			<div style="clear: both"></div>
		</div>