		<div style="position: relative; width: 100%;">	
			<div style="position: absolute; left: 5px; width:105px;">
				<a href="/" title="Schedule Yoga Logo">  
					<img src="/images/schedule-yoga-logo.gif" title="Schedule Yoga" alt="Schedule Yoga Logo"/> 
				</a>
			</div>	
			<div id="nav">
				<a href="/studios/new-york/" title="Schedule of Yoga Studios in New York">Studios</a>
				<img class="navsplit" width="2" height="20" alt="Schedule Yoga navigation image" src="/images/nav-divider.gif">
				<a href="/teachers/new-york/"  title="Schedule of Yoga Teachers in New York">Teachers</a>
				<img class="navsplit" width="2" height="20" alt="Schedule Yoga navigation image" src="/images/nav-divider.gif">
				<a href="/classes/new-yorl/">Classes</a>
				<img class="navsplit" width="2" height="20" alt="Schedule Yoga navigation image" src="/images/nav-divider.gif">				
				<a href="/yoga/">About Yoga</a>				
			</div>
			<div id="beta-notice"><strong>BETA</strong></div>
			<div style="clear: both"></div>
		</div>