<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Find schedule of yoga classes in your area</title>


<link href="/css/main.css" rel="stylesheet" type="text/css"/>


<style type="text/css">
</style>

</head>
<body>
	<div class="wrapper">
			
		<div>	
			#parse("templates/header.html")		
		</div>
		
		<div style="clear: both"></div>
		<div style="margin: 10px 0px">	
			<h1>See yoga schedule at studios in your area (version2 $version)</h1>
		</div>
			
		<div class="mainPanel">		
			<div id="left_panel">
				#parse("templates/left-panel.html")
			</div>
			
			<div id="right_panel">
				<div style="margin: 10px";/>
				<div id="bread">
					<ul>
						<li>
							<a href="/"> Schedule Yoga </a>
							<ul>
								<li> &raquo; ${stateName}</li> 
							</ul>
						</li>
					</ul>
				</div>
				
				<div>
					<h2 style="margin-bottom: 10px">View Schedule at Yoga Studios in $stateName:</h2>
											
					<img src="/images/stock-photo-14114777-doing-yoga-in-health-club.jpg" style="float: right; margin: 4px" />
				
					<ul>
						#foreach( $studio in $studios )
		    			<li><span class="carrot">&nbsp;</span><a href="/${stateNameUrl}/${studio.getNameForUrl()}/">${studio.getName()}</a>
						</li>
						#end
					</ul>
					
				</div>				
			</div>			
			<div style="clear: both"></div>	
		</div>	
	</div> 
	
	<!-- end of wrapper  --> 	
	<div style="clear: both"></div>
	<div>	
		#parse("templates/footer.html")
	</div>
</body>
</html>