<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Find schedule of yoga classes in your area</title>

<link href="css/main.css" rel="stylesheet" type="text/css"/>

<style type="text/css">
</style>

</head>
<body>
	<div class="wrapper">
		<h1>See yoga schedule in your area (version $version)</h1>

		<div class="searchPanel">
			<h2>Search:</h2>		
		</div>
		<div class="mainPanel">
			<h2>Yoga Classes by State:</h2>
			<ul>
				#foreach( $studio in $studios )
    			<li><span class="carrot">›&nbsp;</span><a href="/ParsingUI/alabama/${studio.getNameForUrl()}.html">${studio.getName()}</a>
				</li>
				#end
			</ul>
		</div>
	</div>
	<div style="clear: both"></div>
	<div class="copyright">
		<span>
		<a href="http://www.scheduleyoga.com/privacy-policy.html" target="new" rel="nofollow">Privacy Policy</a> | </span> 
		<span>Copyright © 2011 ScheduleYoga.com. All rights reserved. | </span>
	</div>
</body>
</html>