<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Schedule of Yoga Studios in ${stateName}</title>
	<meta name="description" content="Select a yoga studio in ${stateName} and view studio's schedule"/>
		
	<link href="/css/main.css" rel="stylesheet" type="text/css"/>
	
	<style type="text/css">
	</style>

	#parse("templates/beacons_header.html")

</head>
<body>
	<div class="wrapper">
						
		#parse("templates/header.html")			
				
		<div style="margin: 10px 0px">	
			<h1>Schedule of Yoga Studios in ${stateName}:</h1>
		</div>
			
		<div class="mainPanel">					
			<div>
				<div style="margin: 10px";></div>
				<div id="bread">
					<ul>
						<li>
							<a href="/" title="Schedule Yoga"> Schedule Yoga </a>
							<ul>
								<li> &raquo; ${stateName}</li> 
							</ul>
						</li>
					</ul>
				</div>
				
				<div>
					<h2 style="margin-bottom: 10px">View Schedule at Yoga Studios in $stateName:</h2>
											
					<img src="/images/doing-yoga-in-health-club.jpg" style="float: right; margin: 4px" />
				
					<ul>
						#set($studioCounter = 1)
						#foreach( $studio in $studios )
			    			#if($studioCounter%10 == 0)
								</ul><div stule="margin: 7px"><hr/></div><ul>
							#end
			    			<li><span class="carrot">$studioCounter </span>
			    				<a href="/studios/${stateNameUrl}/${studio.getNameForUrl()}/">${studio.getName()}</a>
							</li>							
							
							#set($studioCounter = $studioCounter + 1)
							
						#end
					</ul>					
				</div>				
			</div>			
			<div style="clear: both"></div>	
		</div>			
	</div> 
	
	<!-- end of wrapper  --> 	
	<div style="clear: both"></div>
	<div>	
		#parse("templates/footer.html")
	</div>
</body>
</html>