<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head profile="http://microformats.org/profile/hcalendar">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Schedule for Yoga Studio: ${studio.getName()}, ${stateName}</title>
	<meta name="description" content="View next week's schedule for yoga studio ${studio.getName()}, ${stateName}"/>
	
	<link href="/css/main.css" rel="stylesheet" type="text/css"/>	
	
	<style type="text/css">
	</style>

	#parse("templates/beacons_header.html")
		
</head>
<body>
	<div class="wrapper">
	
		#parse("templates/header.html")
		
		<div style="margin: 10px 0px">
			<h1>Schedule for Yoga Studio: <a href="${studio.getUrlHome()}" target="_blank" rel="nofollow" title="${studio.getName()} main page">${studio.getName()}</a></h1>
		</div>
		
		<div class="mainPanel">		
			<div id="left_panel">
				<div class="left_resources_wrap">
					<div class="left_resources">
						<h3>Yoga Resources</h3>
						<p><a href="/yoga/">What is Yoga</a></p>
						<p><a href="/yoga-styles/">Yoga Styles</a></p>
						<p><a href="/yoga-props/">Yoga Props</a></p>
					</div>
				</div>
				<img src="/images/treepose-class.jpg" style="float: center; margin: 4px" />
			</div>
			
			<div id="right_panel">
				<div style="margin: 10px";></div>

				<div id="bread">
					<ul>
						<li>
							<a href="/"> Schedule Yoga </a>
							<ul>
								<li> &raquo; <a style="text-decoration: underline;" href="/studios/${stateNameUrl}/"> ${stateName}</a>
									<ul> 
										<li>&raquo; <a style="text-decoration: underline;" href="/studios/${stateNameUrl}/${studioNameUrl}/"> ${studio.getName()}</a> </li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>

				<div>					
					<p> The schedule for <a rel="nofollow" href="${studio.getUrlHome()}" title="$studio.getName() yoga studio's home page" target="_blank">Yoga Studio &quot;${studio.getName()}&quot;</a> 
					presented below was built from the studio's schedule located <a rel="nofollow" href="${studio.getUrlSchedule()}" title="${studio.getName()}'s original schedule" target="_blank">here</a> 
					</p>     
					
					<div  style="background-color:#999999; 	max-width: 100%; min-width: 10%; height:40px; float:left; margin:1px;">
							<div id="date_nav" style="float:left; margin-top:5px;">
								#if (${navDates.containsKey("<<")})
									#set( $prevWeek = $navDates.get("<<"))
									<a href="/studios/${stateNameUrl}/${studioNameUrl}/${navDates.get("<<")}.html"
									title="${navDates.get("<<")} Schedule for Yoga Studio: ${studio.getName()}, ${stateName}">
										<img src="/images/prev-week.gif"/>
									</a>
								#end
								#if (${navDates.containsKey("<")})
									<a href="/studios/${stateNameUrl}/${studioNameUrl}/${navDates.get("<")}.html"
									title="${navDates.get("<")} Schedule for Yoga Studio: ${studio.getName()}, ${stateName}">
										<img src="/images/prev-date.gif"/>
									</a>
								#end
							</div>
							<div style="float:left;"><h2>Yoga Classes <br />  $dateTool.format('EEE, MMM d, yyyy',$schedDate) </h2></div>   
							<div id="date_nav" style="float:left; margin-top:5px;">
								#if (${navDates.containsKey(">")})
									<a href="/studios/$stateNameUrl/${studioNameUrl}/${navDates.get(">")}.html"
									title="${navDates.get(">")} Schedule for Yoga Studio: ${studio.getName()}, ${stateName}">
										<img src="/images/next-date.gif"/>
									</a>
								#end
								#if (${navDates.containsKey(">>")}) 
									<a href="/studios/$stateNameUrl/${studioNameUrl}/${navDates.get(">>")}.html"
									title="${navDates.get(">>")} Schedule for Yoga Studio: ${studio.getName()}, ${stateName}">
										<img src="/images/next-week.gif"/>
									</a>
								#end
							</div>
					</div>
					<div style="clear:both;"></div>
					
					<ul>
						#foreach( $startTime in $startTimes)
							<span class="vevent">
							<li>
								<div id="menu" style="background-color:#FFD700;width:100px;float:left; margin:1px;">									
									<span class="carrot"&lt;&lt;&nbsp;</span>
									
									<abbr class="dtstart" title="${date.format('yyyy-MM-dd',$schedDate)}T${date.format('HH:mm:00.000',$startTime)}">$dateTool.format('h:mm a',$startTime)</abbr> 
								</div>
								<div id="content" style="width:408px;float:left;margin:1px 0px 1px 0px;">
									#foreach( $event in $schedule.get($startTime) )
										<div id="content" style="background-color:#EEEEEE;width:200px;float:left;margin:0px 1px 0px 1px;">
											<span class="summary location">${event.getComment()}</span>
											<div style="float: right; color: #000000;"> 
												#if ($event.getInstructor())
													Teacher: 
													<a href="/teachers/${stateNameUrl}/${event.getInstructor().getNameForUrl()}/${date.format('yyyy-MM-dd',$schedDate)}.html" title="Schedule for Yoga Teacher: ${event.getInstructor().getName()}, ${stateName}">
														<span class="organizer">${event.getInstructorName()}</span>
													</a>													
												#else
													Teacher: <span class="organizer">${event.getInstructorName()}</span>	
												#end
											</div>
										</div>
									#end
								</div>
							</li>
							</span>
							<div style="clear:both;"> </div>
						#end
					</ul>
				</div>
			</div>
			<div style="clear: both"></div>
		</div>		
	</div>
	<div style="clear: both"></div>
	<div>	
		#parse("templates/footer.html")
	</div>
	
</body>
</html>