body {
	background-color: #867F75;
    background-position: center center;
    font-family: Verdana,Arial,sans-serif;
    border: 0;
}

img {
	border: 0;
}

a:link {
	cursor: pointer;
    color: #42382C;
    text-decoration: none;
}
a:visited {
    color: #42382C;
}
a:hover {
    color: #990000;
}
a:active {
    color: #42382C;
}

div {
	display: block;
}

h1{
    color: #BF5820;
    font-family: Verdana;
    font-size: 18px;
    font-weight: bold !important;
    margin: 5px;
    margin-bottom: 10px;
    padding: 10 0 0 15px;
    background-color: #FEF8E9; /*CAD6A8*/
}
h2 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

ul {
    list-style: none outside none;
    font-size: 12px;
    padding-left: 0;
    color: #990000;
    line-height: 16px;
}

.wrapper {
	background: white;

	margin: 0px 100px 0px 100px;
	padding: 20px 10px 10px 18px;
	width: 828px;
}

.topPanel {
	background: none repeat scroll 0 0 #FBEFD5;
	max-width: 1024px;
	min-width: 659px;
	padding: 20px 10px 10px 18px;
}

.searchPanel {
	background: none repeat scroll 0 0 #FEFCF7;
	max-width: 1024px;
	min-width: 659px;
	padding: 20px 10px 10px 18px;
}

.mainPanel {
	background: none repeat scroll 0 0 #FEFCF7;
	border-top: 1px solid #62584D;
	border-bottom: 1px solid #62584D;
	color: #42382C;

	font-size: 13px;
	margin: 0;
	padding: 10px 15px 0;
	max-width: 1024px;
	min-width: 459px;
	height: auto;
}

.copyright {
	background-position: center center;
	color: #FFFFFF;
	font-size: 11px;
	margin: 4px auto 2px;
	padding: 0;
	text-align: center;
	width: 980px;
}

ul#tabs, #tabs-njs {
	height: 25px;
	list-style: none;
	padding: 0;
	margin: 20px 0 0;
	border-bottom: 1px solid #3B5998;
}

ul {
    margin: 0;
    padding-bottom: 15px;
}

.carrot {
	margin:2px 6px 0 6px; 
	padding:0 0 2px 10px; 
	font-size:12px; 
	color:#000; 
	font-weight:normal; 
	background:url(/images/p-triangle.gif) left .2em no-repeat
}

.carrot_compact {
	margin:2px 2px 0 2px; 
	padding:0 0 2px 2px; 
	font-size:12px; 
	color:#000; 
	font-weight:normal; 
	background:url(/images/p-triangle.gif) left .2em no-repeat
}

/*************** Bread crums **************/

#bread {
    color: #36393D;
    margin-bottom: 25px;
	marginpadding: 0;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 12px;
}
#bread ul {
    border: medium none;
    display: inline;
    margin-left: 0;
    padding-left: 0;
}
#bread ul li {
    border: medium none;
    display: inline;
    list-style: none outside none;
    margin-left: 0;
    padding-left: 0;
}

#bread a:link {
	cursor: pointer;
    color: #42382C;
    text-decoration: underline;
}

/*************** Navigation **************/

#nav {    
    background-color: #CAD6A8;
    height: 36px;
    margin-left: 105px;
   	padding: 5px 1em 3px 1em;
}

#nav a {
    float: left;
    text-decoration: none;
    margin: 5px 2px 2px 2px;
}

#nav a:hover {
    color: #BF5820;
}
.navsplit {
	float: left;
	margin: 5px 12px 2px 12px;
}

#beta-notice{
	position: absolute;
	top: 3px;
	right: 1px;
	width: 5em;
	text-align: right;
}	

/*************** Left Panel **************/

#left_panel{float:left; width:206px; margin:0; padding:0;}

.left_resources_wrap{float:left; width:206px; height:auto; margin:13px 0 0 0; padding:0}

.left_module{float:left; width:206px; height:auto; margin:13px 0 0 0; padding:0}

.left_resources{
	float:left; 
	width:206px; 
	height:auto; 
	margin:0; 
	padding:0;  
	background-color: #CAD6A8; no-repeat;
}

.left_resources_bottom{
	float:left; 
	width:206px; 
	height:9px; 
	margin:0; 
	padding:0; 
	font-size:2px; 
	background:#e6eff8 no-repeat;
	}

.left_module p{
	margin:0; 
	padding:0 0 5px 0; 
	font-size:12px; 
	color:#222; 
	font-weight:normal
}

.left_resources p{
	margin:2px 12px 0 12px; 
	padding:0 0 2px 10px; 
	font-size:12px; 
	color:#000; 
	font-weight:normal; 
	background:url(/images/p-triangle.gif) left .2em no-repeat
}
.left_resources h3{
	margin: 10px 12px 4px;
    padding: 0 0 4px;
}

/*************** Right Panel **************/
#right_panel {
	float: right;
	width: 555px;
	height: auto;
	margin: 0;
	padding: 0;
}
#right_panel a {
    text-decoration: underline;
}

/*************** Date Navigation **************/

#dates_nav {
	background-color:#999999; 
	width: 100%; 
	height:40px; 
	float:left; 
	margin:1px;
	position: relative;
}
#dates_nav_left {
	position: absolute; 
	top:7px; 
	left: 5px
}

#dates_nav_right {
	position: absolute; 
	top:7px; 
	right: 5px
}

#dates_nav a {
 	text-decoration: none;
 	margin-top: 3px;
}

#dates_nav h2 {
	text-align: center;
	margin-top: 3px;
}


/*************** Right Pane **************/
.float_center
{
margin-left:auto;
margin-right:auto;
width:100%;
text-align:center;
height: 40px;
background-color:#999999;
}

/*************** Calendar Sheet **************/
.calendar tr {
	background-color: #999999;
	max-width: 820px;
	min-width: 500px;
	margin: 1px;	
}

.calendar td {
	margin:1px;	 
}

.calendar th {
	font-weight:bold
}

.calendar a {
	text-decoration: underline;
}

.cal_time_cell {
	background-color: #FFD700;
	width: 90px; 
}

.cal_info_cell {
	background-color: #EEEEEE;
	color: #900;
	min-width:65px;
}

.cal_info_cell_sunday {
	color: #900;
	width: 10px;
	background-color: #ff9d68;
}

.cal_studio_name {	
	color: #000;
	float: right;
}

div #bckg_image {
    background-image:  url(/images/next-week2.gif);
    background-repeat: no-repeat;
    height: 70px;
    width: 100%;
}

div #bckg_image_text {
    position: relative;
    height: auto;
    width: auto;
    left: 25px;
    top: 200px;
}