<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <!-- the application context definition for the springapp DispatcherServlet -->

<!--   <bean name="/hello.htm" class="com.parsingUI.HelloController"/> -->

<!--     <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer"> -->
<!--         <property name="resourceLoaderPath"> -->
<!--             <value>/</value> -->
<!--         </property> -->
<!--     </bean> -->

<!-- <bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver"> -->
     
<!--      <bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver"> -->
<!--       <property name="cache" value="false"/> -->
<!--       <property name="prefix" value="/templates/"/> -->
<!--       <property name="suffix" value=".vm"/> -->
<!--       <property name="toolboxConfigLocation" value="/WEB-INF/velocity-toolbox.xml"/> -->
<!--       <property name="viewClass" value="com.parsingUI.VelocityToolsView"/> -->
<!-- </bean> -->

</beans>